.home-page-1 {

}

.dal-slogan {
  max-width: 90%;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  color: rgb(37, 30, 23);
}

.dal-slogan-important {
  color: rgb(224, 207, 189);
}

@media screen and (min-width: 768px) {
  .dal-slogan {
    max-width: 90%;
    font-size: 4rem;
  }
}