.dal-hero-img {
  width: auto;
  height: 100%;
}

.dal-slogan {
  max-width: 90%;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  color: rgb(255, 255, 255);
}

.dal-slogan-important {
  color: rgb(58, 58, 58);
}

.text-shadow {
  text-shadow: 2px 2px 0 8px #000;
}

.home-content-cntr {
  width: 90%;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 9;
}

.home-content-title {
  margin: auto;
  padding: 1rem 0 1.9rem 0;
  border-bottom: 1px solid rgb(92, 92, 92);
}

.home-content {
  margin: auto;
  padding: 1.9rem 1rem;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #fff;
}

.home-page-2-img {
  width: auto;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .dal-slogan {
    max-width: 90%;
    font-size: 4rem;
  }
}