.dal-hero-img {
  width: auto;
  height: 100%;
}

.dal-slogan {
  float: left;
  max-width: 90%;
  margin: auto 0 auto 1.2rem;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  color: rgb(255, 255, 255);
}

.dal-slogan-important {
  color: rgb(58, 58, 58);
}

.contribute-btn {
  float: left;
  clear: left;
  margin: .7rem 0 auto 1.2rem;
  padding: .4rem 1.5rem;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 9px;
  box-shadow: 0 4px 30px rgba(197, 133, 133, 0.5);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 4px;
  color: #fff;
}

.contribute-btn:active {
  background: rgba(0, 0, 0, 0.9);
}

.end-btn {
  display: block;
  width: 85%;
  margin: 1rem auto;
  padding: .4rem 1.5rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: none;
  border-radius: 9px;
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 4px;
  color: #fff;
}

.text-shadow {
  text-shadow: 2px 2px 0 8px #000;
}

.home-content-cntr {
  width: 90%;
  margin: auto;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  z-index: 9;
  display: block;
}

.home-content-title {
  display: block;
  padding: 1.9rem 1rem;
  border-bottom: 1px solid rgb(92, 92, 92);
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  line-height: 2.7rem;
  color: rgb(255, 255, 255);
}

.home-content {
  margin: auto;
  padding: 1.9rem 1rem;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #fff;
}

.home-page-img {
  object-fit: cover;
}

.home-fight-title {
  padding: 1.1rem 1rem;
  font-size: 2rem;
  line-height: 2rem;
}

.home-fight-content {
  padding: 0 1rem 1.9rem 1rem;
  font-size: .9rem;
  line-height: 1.1rem;
}

@media screen and (min-width: 768px) {
  .dal-slogan {
    float: right;
    max-width: 90%;
    margin: 0 5% 0 1.2rem;
    font-size: 3.3rem;
    text-align: right;
  }

  .contribute-btn {
    float: right;
    clear: right;
    margin: .7rem 5% auto 0;
  }
}

@media screen and (min-width: 895px) {
  .dal-slogan {
    float: right;
    margin: 0 9% auto 1.2rem;
    font-size: 3.8rem;
    line-height: 3.3rem;
  }

  .contribute-btn {
    margin: .7rem 9% auto 1.2rem;
  }
}

@media screen and (min-width: 1025px) {
  .dal-slogan {
    margin: 0 15% auto 1.2rem;
  }

  .contribute-btn {
    margin: .7rem 15% auto 1.2rem;
  }
}