.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;
  height: 9vh;
  margin: 2vh 5vw;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  z-index: 10;
}

.dal-logo-white {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  align-self: center;
  height: 7vh;
  margin-left: 5vw;
}

.hamburger-cntr {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
  color: #fff;
}

.nav-options-cntr {
  position: absolute;
  top: 11vh;
  width: 96vw;
  margin: 0 2vw;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  overflow: hidden;
  z-index: 10;
}

.nav-options-list {
  width: 100%;
  height: 100%;
  margin: auto;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #fff;
  display: block;
}

.nav-options-list > div {
  align-self: center;
  width: 100%;
  height: auto;
  padding: .85rem 0 .85rem 1rem;
}

.nav-options-list > div:active {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.nav-option {
  border-top: 1px solid #fff;
}

@media screen and (max-width: 768px) {
  .hamburger-cntr {
    margin-right: 5vw;
  }
}